.bleu {
  background-color: #60c2e7;
}

.lbleu {
  background-color: #60c2e7;
}

.lviolet {
  background-color: #8338ea;
}

.violet {
  background-color: #8338ea;
}

.rose {
  background-color: #ff25c0;
}

.lrose {
  background-color: #ff25c0;
}
