.bleu {
  background-color: #2574A9;
}

.lbleu {
  background-color: #2574A9;
}

.lviolet {
  background-color: #9A12B3;
}

.violet {
  background-color: #9A12B3;
}

.rose {
  background-color: #DB0A5B;
}

.lrose {
  background-color: #DB0A5B;
}

fieldset {
  border: 0px;
  margin-top: 10px;
  word-break: normal;
}

label {
  margin-left: 10px;
}

.typeCB {
  margin-left: 10px;
  margin-bottom: 5px;
}

p {
  margin-left: 10px;
}

input {
  border-radius: 0px;
  margin-top: 5px;
}
